/**
 * White theme for reveal.js. This is the opposite of the 'black' theme.
 *
 * By Hakim El Hattab, http://hakim.se
 */
// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------
// Include theme-specific fonts
@import url(../../lib/font/open-sans-condensed/open-sans-condensed.css);

// Override theme settings (see ../template/settings.scss)
$backgroundColor: #fff;

$mainColor: #222;
$headingColor: #222;

$mainFontSize: 38px;
$mainFont: 'Open Sans Condensed', sans-serif;
$headingFont: 'Open Sans Condensed', sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: uppercase;
$headingFontWeight: 600;
$linkColor: #2a76dd;
$linkColorHover: lighten($linkColor, 15%);
$selectionBackgroundColor: lighten($linkColor, 25%);

$heading1Size: 2.5em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
$heading4Size: 1.0em;

section.has-dark-background {
  &, h1, h2, h3, h4, h5, h6 {
    color: #fff;
  }
}

.logo,
.progress {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  width: auto;
}

.logo {
  top: 2em;
  height: 4em;
}

.progress {
  bottom: 2em;
  height: 2em;
}

.fragment-carousel {
  position: relative;

  .fragment {
    position: absolute;
    left: 0;
    right: 0;
  }
}

// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------